/*
** CLOAKING - ANGULARJS
*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*
** SCROLLBARS - HANDLED IN GTK
*/

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

::-webkit-scrollbar-track {
  background: rgba(192, 192, 192, 0.4);
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128, 128, 128, 0.4);
}

/*
** ROOT OVERRIDES
*/

* { cursor: default; }
body, .btn { font-family: 'Source Sans Pro'; font-weight: 300; }

*:focus { outline: 0 !important; }

a, a > * { cursor: pointer; }
.nav, .pagination, .carousel, .card-title a { cursor: pointer; }

p { text-align: justify; }

pre {
  background-color: #f8f8ff;
}

/*
** SELECTION
*/

body, .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.click-target:hover,
.click-target *:hover {
  cursor: pointer;
  display: inline-pointer;
}

/*
** TYPOGRAPHY
*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family:'Roboto Condensed'; }

p.no-space {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.uppercase { text-transform: uppercase; }

.page-title {
  margin: 16px 0;
  text-align: center;
}

.page-title a:hover,
.page-title a {
  color: inherit;
  text-decoration: none;
}

.page-title > a {
  padding: 0 8px;
  margin-right: 8px;
  color: #000;
  border: 1px solid #e0e0e0;
  border-left: 0;
  border-radius: 2px;
}

.page-title > a:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}

.subtitle { margin-top: 0; }

blockquote > *:first-child { margin-top: 0; }

blockquote p { font-size: inherit; }

/*
** BREADCRUBS
*/

.breadcrumb {
  font-size: 12px;
  padding: 4px 0px;
  background-color: #fff;
}

.breadcrumb > .active {
  color: #000;
}

/*
** BUTTONS
*/

.btn-dark {
  color: #fff;
  background-color: #202020;
  border-color: #404040;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active,
.btn-dark.active, .open .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #171717;
  border-color: #373737;
}

.btn > .fa { cursor: pointer; }

.btn-rss { color: #ff7f00; }
.btn-rss { color: #fff; background-color: #ff7f00; }
.btn-google-plus { color: #dd4b39; }
.btn-google-plus:hover { color: #fff; background-color: #dd4b39; }
.btn-facebook { color: #3b5998; }
.btn-facebook:hover { color: #fff; background-color: #3b5998; }
.btn-twitter { color: #4099ff; }
.btn-twitter:hover { color: #fff; background-color: #4099ff; }

/*
** CALLOUTS
*/

.callout {
  margin: 0 0 10px;
  padding: 16px;
  border-left: 3px solid #eeeeee;
}
.callout .code,
.callout .highlight {
}

.callout > h1:first-child,
.callout > h2:first-child,
.callout > h3:first-child,
.callout > h4:first-child {
  margin-top: 4px;
  margin-bottom: 8px;
}
.callout p:last-child {
  margin-bottom: 0;
}

.callout-problem,
.callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.callout-problem h4,
.callout-danger h4 {
  color: #b94a48;
}
.callout-question,
.callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.callout-question h4,
.callout-warning h4 {
  color: #c09853;
}
.callout-idea,
.callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.callout-idea h4,
.callout-info h4 {
  color: #3a87ad;
}

.callout-thank,
.callout-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.callout-thank h4,
.callout-success h4 {
  color: #468847
}


/*
** FOOTER
*/

footer {
  width: 100%;
  height: 64px;

  padding: 16px 0;

  background: #333;
  position: fixed;
  z-index: -1000;
  bottom: 0;

  color: #fff;

  box-shadow: inset 0px 20px 16px -16px #000;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer li {
}

footer .copyright {
  margin: 0;
  line-height: 24px;
}

footer .copyright > a,
footer .copyright > a:hover,
footer .copyright > a:active,
footer .copyright > a:visited {
  color: #fff;
  font-weight: bold;
}

footer p {
  font-size: 14px;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
  color: #428bca;
  text-shadow: 1px 1px 2px rgba(55, 55, 55, .6);
}

footer .site-map {
  margin-bottom: 16px;
}


/*
** FOOTER OBJECTS
*/

footer .form {
  display: inline-block;
  margin-top: 4px;
}

footer .form a {
  color: #fff;
  text-decoration: none;
}

footer label {
  display: inline-block;

  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
  color: #fff;
}

/*
** HORIZONTAL SPACING / BREAKING
*/

.hr {
  display: block;
  content: "&nbsp;";
  height: 4px;
}
.hr-xs {
  height: 4px!important;
}
.hr-sm {
  height: 16px!important;
}
.hr-md {
  height: 24px!important;
}
.hr-lg {
  height: 32px!important;
}

/*
** INPUT
*/
.form-control-generic {
  height: inherit;
}

.form-control-cc-expiry {
  display: inline;
  width: 78px;
}

.help-block {
  font-size: 12px;
  line-height: 14px;
}

.radio-inline {
  margin-right: 10px;
}

.radio-inline+.radio-inline {
  margin-left: 0;
}

/*
** LABELS AND BADGES
*/

.label { border-radius: 2px; }
.label-black { background-color: #111; }

.badge { border-radius: 4px; }
.badge-black { background-color: #111; }


/*
** LISTS
*/

.fa-ul { padding-left: 0; }
.fa-ul > li { margin-bottom: 5px; }
.fa-li { top: .36em; }

/*
** MODALS
*/

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.modal-content {
}

.modal-dialog-responsive {
  width: 75%;
  min-width: 600px;
}

.modal-header {
  background-color: #428bca;
  color: #fff;
  padding: 8px;
}

.modal-footer {
  padding: 8px;
}

.modal-tab-content {
  padding: 16px 0 0 0 !important;
  margin-bottom: 0 !important;
}

/* NO-ANIMATIONS */
.modal.fade.no-animation {
  opacity: 1!important;
}

.modal.fade.no-animation .modal-dialog ,
.modal.in.no-aminmation .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.fade.no-animation {
  opacity: 0.8!important;
}

/*
** NAVIGATION (KOROBAR)
*/

.korobar,
#korobar {
  position: absolute;
  width: 100%;
}

.navbar {
  border-radius: 0;
  z-index: 1039;
}

.navbar.navbar-empty {
  height: 16px;
  min-height: 16px;
}

.navbar-brand {
  padding: 0;
  height: 50px;
}

.navbar-brand .title {
  display: inline-block;
  margin: 6px 0;
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.navbar-brand .title-dark {
  color: #ccc;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.navbar-brand .title {
  display: inline-block;
  margin: 6px 0;
  font-size: 32px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.navbar-brand .title-dark {
  color: #ccc;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-toggle {
  padding: 4px 8px;
  border-radius: 2px;
  color: #fff;
}

.navbar-toggle:hover {
  color: #666;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
}

.nav-tabs.nav-justified > li.active > a {
  border-bottom-color: #357ebd;
}

.nav-tabs > li > a {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}

.navbar-default {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;

  box-shadow: 0px 4px 16px #111;
}

.navbar-default .glyphicon {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .navbar-nav>.dropdown>a .caret,
.navbar-default .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color:#3276b1;
  color: #fff;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color:#3276b1;
  color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color:#3276b1;
  color: #fff;
}

.navbar-nav>li>.dropdown-menu {
  border-color: #357ebd;
  background-color:#3276b1;
}

.dropdown-menu {
  border-radius: 2px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  background-color: #428bca;
  color: #fff;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .nav-home {
  border-right: 2px solid #3276b1;
  border-left: 2px solid transparent;
}

.navbar-text {
  margin-top: 12px;
  margin-bottom: 12px;
}

.nav a.user-avatar {
  padding: 9px 15px;
}


/*
** PAGE CONTAINER/CONTENT
*/

.page-container {
  padding-bottom: 32px;
  margin-bottom: 64px; /* footer height */

  background-color: #fff;
}

.page-content {
  min-height: 100%;
  max-width: 1170px;

  margin: 0 auto;
  padding-top: 64px; /* match bottom padding of page-container */
}

.page-content.navbar-empty,
.page-content.no-nav {
  padding-top: 32px;
}

/*
** PROGRESS BARS
*/
.progress {
  border-radius: 2px;
  box-shadow: inset 0 0px 1px rgba(0,0,0,.1);
  height: 16px;
  margin-bottom: 16px;
}

.progress-sm {
  height: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.progress-xs {
  border-radius: 1px;
  height: 4px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.progress-bar {
  font-size: 10px;
  line-height: 16px;
}

.progress-sm .progress-bar[aria-valuenow="1"],
.progress-sm .progress-bar[aria-valuenow="2"],
.progress-xs .progress-bar[aria-valuenow="1"],
.progress-xs .progress-bar[aria-valuenow="2"] {
  min-width: 0;
}

/*
** TABS
*/
.nav-tabs>.active>a>.badge {
  color: #428bca;
  background-color: #fff;
}

.tabs-left .badge.tab-badge {
  float: right;
  margin-top: 2px;
}

.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}

.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}

/*
** CHECKBOX/RADIO
*/
.lens-checkbox *,
.lens-radio * {
  cursor: pointer;
}

.lens-checkbox .lens-checkbox-icon,
.lens-radio .lens-radio-icon {
  font-size: 14px;
  text-align: left;
}

.lens-checkbox .lens-checkbox-label,
.lens-radio .lens-radio-label {
  display: inline-block;
  margin-left: 4px;
}

