<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="lens://css/lens.min.css" rel="stylesheet">
</head>
<body ng-controller="AppCtrl as appVm">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><b>Lens.</b>Widgets</h1>
         <p style="color: #333">This sample demonstrates most of the widgets supported by Lens. Leveraging the Bootstrap and the Angular UI projects, the scope for Lens widgets are limited only by your abilities in HTML5, CSS3 and JS.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="input-group">
          <input type="text" ng-model="appVm.hostname" class="form-control"></input>
          <div class="input-group-append">
            <button type="button" ng-click="appVm.updateHostname()" class="btn btn-primary">Update</button>
          </div>
        </div>

        <lens-checkbox ng-model="appVm.foo">Standard checkbox</lens-checkbox>
        <lens-checkbox ng-model="appVm.foo" true="fa-thumbs-o-up" false="fa-thumbs-o-down">Custom icon checkbox</lens-checkbox>

        <lens-radio ng-model="appVm.bar" value="red">Red</lens-radio>
        <lens-radio ng-model="appVm.bar" value="green">Green</lens-radio>
        <lens-radio ng-model="appVm.bar" value="blue">Blue</lens-radio>

        <lens-progressbar class="progress-sm progress-striped active" value="appVm.progress"></lens-progressbar>
        <lens-progressbar class="progress-xs progress-striped active" value="appVm.progress"></lens-progressbar>

        <button type="button" class="btn btn-primary" ng-click="appVm.maximize()">{{appVm.maximizeButtonText}}</button>
        <button type="button" class="btn btn-warning" ng-click="appVm.fullscreen()">{{appVm.fullscreenButtonText}}</button>
        <button type="button" class="btn btn-info" ng-click="appVm.openModal()">Open Modal</button>
        <button type="button" class="btn btn-danger" ng-click="appVm.closeApp()">Close App</button>
      </div>
      <div class="col-sm">
        <lens-radial value="appVm.progress" radius="50" line-width="20"></lens-radial>
        <lens-radial value="appVm.progress" radius="30" line-width="15" line-cap="round" bg-color="#e0f1cb" color="#9ad154" arc-offset="225" arc-range="270" animate="0"></lens-radial>
        <lens-radial value="appVm.progress" radius="50" line-width="30" bg-color="#e0a19b" color="#9a3134"  arc-offset="270" arc-range="180"></lens-radial>

        <script src="lens://js/lens.js"></script>
        <script src="lens://js/lens-angular.js"></script>
        <script src="app://js/app.js"></script>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center">Checkbox: {{appVm.foo}}, Radio: {{appVm.bar}}, Progress: {{appVm.progress}}%</p>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <ul>
        <li ng-repeat="item in $ctrl.items">
          <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
        </li>
      </ul>
      Selected: <b>{{ $ctrl.selected.item }}</b>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </script>
</body>
</html>
